  <header class="mb-auto">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="mt-auto ms-3">Yugi-Django</h3>
        <nav class="nav nav-masthead mt-auto flex-grow-1 justify-content-center mx-4">
          <a class="nav-link fw-bold py-2 px-3 {% if request.resolver_match.url_name == 'home' %}active{% endif %}"" href="{% url 'home' %}">Accueil</a>
          <a class="nav-link fw-bold py-2 px-3 {% if request.resolver_match.url_name == 'cards_browser' %}active{% endif %}" href="{% url 'cards_browser' %}">Cartes</a>
          <a class="nav-link fw-bold py-2 px-3" aria-disabled="true">Deck partagés</a>
          <a class="nav-link fw-bold py-2 px-3" aria-disabled="true">Construction de deck</a>
          <a class="nav-link fw-bold py-2 px-3 {% if request.resolver_match.url_name == 'features' %}active{% endif %}" href="{% url 'features' %}" >À venir</a>
        </nav>
          <div class="navbar-nav me-3">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item" href="{% url 'change_email' %}">Changer l'adresse mail</a></li>
              <li><a class="dropdown-item" href="{% url 'change_password' %}">Changer le mot de passe</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Déconnexion</a></li>
            </ul>
          </div>
      </div>
  </header>