.form-control-lg {
    padding: 6px 6px 6px 34px;
    background-color: rgb(59, 59, 59);
}

.filter-button {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 1.5px solid #ccc;
    background-color: #6b6b6b;
}

.bi.bi-filter {
    font-size: 40px;
    color: #ffff;
}

#toggleSearchFilters {
    background-color: rgb(59, 59, 59);
}

.page-link {
    border: 1px solid #ccc;
    background-color: #6b6b6b;
    color: #ffff;
}

.card-container {
    background-color: rgb(59, 59, 59);
}